<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="talitha_koum.milipade.com.app.afdis">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" /><!---->
        <activity
            android:name=".activities.UserAuthActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ShopActivity"
            android:label="@string/title_activity_shop"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="talitha_koum.milipade.com.app.afdis.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.HistoryShopActivity"
            android:label="@string/title_activity_shop"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="talitha_koum.milipade.com.app.afdis.activities.ShopActivity" />
        </activity>
      <activity
            android:name=".activities.AddStockActivity"
            android:label="@string/title_activity_add_stock"
            android:parentActivityName=".activities.ShopActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="talitha_koum.milipade.com.app.afdis.activities.ShopActivity" />
        </activity>
        <activity
            android:name=".activities.OrderHistoryActivity"
            android:label="@string/title_activity_order_history"
            android:parentActivityName=".activities.HistoryShopActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="talitha_koum.milipade.com.app.afdis.activities.HistoryShopActivity" />
        </activity>
        <activity
            android:name=".activities.HistoryInventoryActivity"
            android:label="@string/title_activity_history_inventory"
            android:parentActivityName=".activities.HistoryShopActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="talitha_koum.milipade.com.app.afdis.activities.HistoryShopActivity" />
        </activity>
        <activity
            android:name=".activities.PlanActivity"
            android:label="@string/title_activity_plan"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="talitha_koum.milipade.com.app.afdis.activities.MainActivity" />
        </activity>
    </application>

</manifest>